[submodule "nvim/.config/nvim/pack/nvim/start/nvim-lsp"]
	path = nvim/.config/nvim/pack/nvim/start/nvim-lsp
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/.config/nvim/pack/plugins/start/nvim-cmp"]
	path = nvim/.config/nvim/pack/plugins/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
